:root {
  --font-text: "Protest Strike", sans-serif;
  /* Colors */
  --primary-color: #ffc300;
  --secondary--color: #220901;
  --accent-color: #ffd60a;
  /* Sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.5em;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1.5;
}

body {
  font-family: var(--font-text);
  font-size: var(--font-base);
  background-color: var(--secondary--color);
  min-width: 350px;
  margin: 0;
  padding: 0;
}

.app-title {
  font-size: var(--large-font);
  font-family: var(--font-text);
  color: var(--primary-color);
  margin-top: 20px;
  text-align: center;
}

.app-instruction {
  text-align: center;
  font-size: var(--small-font);
  color: var(--primary-color);
}

.score {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.current-score,
.high-score {
  font-size: var(--small-font);
  color: var(--primary-color);
}

.card-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 250px);
  gap: 10px;
  margin: 20px;
}

.card-wrapper {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.pokemon-card {
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  background-color: var(--primary-color);
}

.pokemon-card img {
  display: block;
  margin: 20px auto;
  width: 90%;
  height: auto;
  border: 1px solid var(--secondary--color);
  border-radius: 10px;
  background-color: var(--accent-color);
}

.pokemon-card p {
  margin-top: 10px;
  text-align: center;
}

.pokemon-card:hover {
  transform: scale(1.06);
}

footer {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: var(--small-font);
}

/* Mobile View */
@media screen and (max-width: 576px) {
  .card-container {
    grid-template-columns: repeat(3, 120px);
    gap: 5px;
  }

  .pokemon-card img {
    width: 80%;
    height: auto;
  }
}
